$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}
 
.footer {
    padding-top: 19px;
    color: #777;
}

.jumbotron {
    text-align: center;
    color: rgb(96, 94, 94);
    background-color: rgb(125, 142, 237);
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
        width: 100%;
    }

}
.app-name, {
    color: rgb(96, 94, 94);
    font-size: 30px;
    display: inline-block;
    font-weight: 500;
}

.app-credits {
    color: rgb(96, 94, 94);
    font-size: 18px;
    display: inline-block;
    margin-left: 172px;
}

.welcome-preacher, .welcome-searcher {
    font-size: 28px;
    width: 340px;
    background-color: rgb(159, 177, 212);
    opacity: 0.7;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    margin-right: 8px;
}

.preacher-form {
    display: none;
}

.reveal-preacher-form {
    display: inherit;
}

.profile-instructions {
    font-size: 22px;
    color: rgb(96, 94, 94);
    margin-top: 40px;
}

.searcher-instructions {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 26px;
    width: 524px;
    text-align: center;
    color: rgb(96, 94, 94);
    margin-bottom: 40px;
    display: none;
}

.searcher-instructions-reveal {
    display: inherit;
}

.preacher-name {
    margin-top: 20px;
    font-size: 18px;
    width:380px;
    padding-left: 4px;
}

.preacher-quote {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 4px;
}

.preacher-bio {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 4px;
}

.preacherPhoto {
    margin-top: 20px;
    font-size: 18px;
}

.add-preacher {
    margin-top: 20px;
}

.lead {
    margin-top: 40px;
}

.list-item, .jumbo-item {
   width: 660px;
   text-align: center;
   margin-top: 100px;
}

.choosePreacher {
    border-radius: 4px;
    color: rgb(79, 75, 75);
}

.bio, .intro {
    margin-top: 28px;
    text-align: left;
}

.name {
    font-size: 40px;
}

.list-avatar {
    width: 140px;
    border-radius: 50%;
}






